body {
    margin: 0;
}

.main {
    height: 1000px;
    background-image: url(The-Wild-Eight.jpg);
    background-size: 100% 100%;
}

.main_menu_item {
    color: #be1e2d;
    font-weight: 500;
    font-size: 20px;
    padding: 13px 0 17px;
    margin-left: 37px;
    position: relative;
    text-decoration: none;
    vertical-align: top;
}

.header {
    padding-top: 50px;
    position: relative;
    line-height: 1;
    font-family: 'Exo 2', sans-serif;
    margin-left: 150px;
}

.logo {
    text-align: center;
    display: block;
    margin: 100px auto 50px;
}

.order_now {
    display: inline-block;
    text-decoration: none;
    height: 40px;
    width: 220px;
    margin-left: 200px;
    right: 0;
    text-align: center;
    padding-top: 13px;
    background: #be1e2d;
    color: #fff;
    font-size: 20px;
}

.content {
    width: 175px;
    height: 28px;
    font-size: 28px;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Exo 2', sans-serif;
}

.content h1 {
    font-size: 28px;
    color: white;
    display: flex;
}

.content a {
    text-decoration: none;
    color: #be1e2d;
    text-decoration: underline;
}

.steam {

}
.yze_steam{
    width: 200px;
    
display: flex;
}
.yze_steam h1{
    margin: 0;
    margin-right: 10px;
}

.content_trailer {
    display: table;
    margin: 44px auto 1px;
    border: 2px solid #be1e2d;
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    box-sizing: border-box;
    height: 62px;
    padding: 18px 29px 0 59px;
    position: relative;
    width: 100px;
}

.content_trailer button {
    font-size: 20px;
    color: white;
    background: none;
    border: none;
}

.content_trailer:before {
    border-top: 10px solid transparent;
    border-left: 16px solid #be1e2d;
    border-bottom: 10px solid transparent;
    content: '';
    position: absolute;
    top: 20px;
    left: 23px;
}
.footer {
    padding-top: 50px;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    height: 300px;
}

.footer_block {
    margin: 0;
    padding: 0;
    border: 0;
}

.footer_block p {
    margin-top: 11px;
    margin-right: 6px;
    vertical-align: top;
    display: inline-block;
}
